body{
	margin: 0;
}
html,body,#main,.section{
	height: 100%;
}
#main{
	position: relative;
	overflow: hidden;
}
.section{
	position: absolute;
	width: 100%;
	overflow-y:hidden;
	text-align: center; 
}
.section img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.section:nth-child(1){
	z-index: 1;
	background: url(images/acorns.jpg) no-repeat center center;
	background-size:cover; 
}
.section:nth-child(2){
	
}
.section:nth-child(3){

}